body{
    /* background-image: url(https://images.unsplash.com/photo-1593504049359-74330189a345?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1854&q=80); */
    background-repeat: no-repeat;

}
p{
    font-style: italic;
}

h3{
    font-style: italic;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}