body {
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    color: white;
}

.card-text {
    color: black;
}

.display-1 {
    font-weight: 600;
}

p {
    font-style: italic;
}

h3 {
    font-style: italic;
}

h2 {
    color: white;
}

h4{
    color: white;
}

p {
    color: white;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

#cb-cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-radius: 0;
    display: none;
}



.list-group-item {
    background-color: rgba(0, 0, 0, 0.1)
}

.b-example-divider {
    height: 3rem;
}

.list-group-item>h3{
    font-style: normal;
    color: white;
}

.Veggie, .Supreme, .Margherita, .Pepperoni{
    display: none;
}